################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CodeCoverage/.vs/CodeCoverage/v15
/CodeCoverage/Module1/bin/Debug
/CodeCoverage/Module1/obj/Debug
/CodeCoverage/Module1Test1/bin/Debug
/CodeCoverage/Module1Test1/obj/Debug
/CodeCoverage/Module2/bin/Debug
/CodeCoverage/Module2/obj/Debug
/CodeCoverage/packages
/CodeCoverage/TestResults
/CodeCoverage/Product1/Module1/bin/Debug
/CodeCoverage/Product1/Module1/obj/Debug
/CodeCoverage/obj/Debug
/CodeCoverage/.vs/CodeCoverage/v16
